.body{
    padding: 0;
    margin: 0;
}

.backgroundimage{
    width: 100vw;
    height: 75vh;
}

.backgroundimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.container{
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    /* width: 100%;
    height: 700vh; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(""); */
    /* justify-content: center; */
}

.container1{
    margin-top: 2px;
    padding:10px;
    /* border: 2px solid red; */
    width: 95%;
    height: 80vh;
    position: absolute;
    top: 0;
}

.navbar{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navlinks{
    margin-left: 10px;
    display: flex;
    gap:15px;
    justify-content: space-evenly;
    margin-left: 3rem;
}

.navlinks a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login{
    margin-left: 30rem;
    color: white;
    font-weight: bold;
    margin-right: 4rem;
}

.member{
    width:10vw;
    height: 5vh;
    background-color: #23a6f0;
    padding: 15px;
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    gap: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    /* margin-left: 20rem; */
}

.insurance{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.objects{
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1rem;
}

.buttons{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.getquotenow{
    background-color: #23a6f0;
    width:10%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    margin-left: 35rem;
}

.learnmore{
    background-color: transparent;
    width:10%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    margin-right: 35rem;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
}

.card1{
    width: 20%;
    height: 30vh;
    background-color: white;
    border: 20px solid transparent;
    padding: 20px;
}

.card1 img{
    width: 70px;
    height: 70px;
}

.card2{
    width: 20%;
    height: 30vh;
    background-color: white;
    border: 20px solid transparent;
    padding: 20px;
}

.card2 img{
    width: 70px;
    height: 70px;
}

.card3{
    width: 20%;
    height: 30vh;
    background-color: #23a6f0;
    border: 20px solid transparent;
    padding: 20px;
}

.card3 img{
    width: 70px;
    height: 70px;
}

.container2{
    border: 2px solid transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96.5%;
    height: 50vh;
    margin-top: 15rem;
    background-color: #ffffff;
}

.container3{
    width: 96.5%;
    height: 100vh;
    /* border: 2px solid aqua; */
    background-color: #fafafa;
    margin-top: 5rem;
}

.industry{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.persons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.person1{
    width: 25%;
    height: 60vh;
    border: 2px solid #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stars{
    color: #f3cd03;
    margin-top: 5rem;
    width: 7rem;
    height: 10vh;
}

.person1 p{
    width: 40%;
    height: 70px;
}

.person1 img{
    width: 40%;
}

.person2{
    width: 25%;
    height: 60vh;
    border: 2px solid #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person2 img{
    width: 40%;
}

.person3{
    width: 25%;
    height: 60vh;
    border: 2px solid #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person3 img{
    width: 40%;
}

.container4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid brown; */
  margin-top: 20rem;
  width: 96.5%;
  height: 40vh;
}

.icons{
    display: flex;
    justify-content: space-evenly;
}

.icon1 img{
    width: 40%;
}

.icon2 img{
    width: 40%;
}

.icon3 img{
    width: 40%;
}

.icon4 img{
    width: 40%;
}

.icon5 img{
    width: 40%;
}

.icon6 img{
    width: 40%;
}

.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 90%;
    height: 10vh;
    border: 2px solid black;
    background-image: linear-gradient(90deg,#004788,#d71489);
    margin-top: 3rem;
}

.email{
    width: 30%;
    height: 5vh;
    border: 2px solid red;
    padding: 10px;
    background-color: white;
}

.container5{
    width: 96.5%;
    height: 170vh;
    /* border: 2px solid blue; */
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 10rem;
}

.offers{
    display: flex;
    gap: 1px;
    margin-top: 8rem;
}

.free{
    width: 50%;
    height: 80vh;
    border: 2px solid #23a6f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.tryforfree{
    width: 70%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #23a6f0;
    background-color: #23a6f0;
    border-radius: 5px;
}

.standard{
    width: 50%;
    height: 86.5vh;
    border: 2px solid #23a6f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    background-color: #252b42;
    border-radius: 10px;
}

.premium{
    width: 50%;
    height: 80vh;
    border: 2px solid #23a6f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container6{
    width: 96.5%;
    height: 90vh;
    /* border: 2px solid red; */
    margin-top: 2px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-top: 2rem;
    background-color: #252b42;
}

.branches{
    width: 40%;
    height: 30vh;
    /* border: 2px solid red; */
    margin-top: 5rem;
    margin-left: 10rem;
}

.branchesworld img{
    width: 60%;
    margin-top: 5rem;
    margin-left: 8rem;

}

.branchesandworld{
    display: flex;
}

.container7{
    width: 50%;
    height: 100vh;
    border: 2px solid transparent;
    margin-top: -15rem;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    background-color: white;
}

.container8{
    width: 96.5%;
    height: 50vh;
    /* border: 2px solid black; */
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.consulting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:25rem;
}

.agency{
    display: flex;
    flex-direction: column;
}

.container9{
    width: 96.5%;
    height: 50vh;
    /* border: 2px solid red; */
    background-color: #ffffff;
    margin-top: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer{
    width: 96.5%;
    height: 20vh;
    /* border: 2px solid green; */
    margin-top: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialmedia{
    margin-top: 2px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.fullname{
    width: 20vw;
    height: 5vh;
    border: 1px solid red;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius:5px
}
.emailaddress{
    width: 20vw;
    height: 5vh;
    border: 1px solid red;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius:5px;
}
.time{
    width: 20vw;
    height: 5vh;
    border: 1px solid red;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius:5px;
}
.department{
    width: 20vw;
    height: 5vh;
    border: 1px solid red;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius:5px;
}

.buttonbookappointment{
    width: 90%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #23a6f0;
    background-color: #23a6f0;
    border-radius: 5px;
    margin-top: 3rem;
}

.contactus{
    width: 70%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #23a6f0;
    background-color: #23a6f0;
    border-radius: 5px;
}